@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
body, html {
    margin: 0;
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    overflow-x: hidden;
}
.si-container {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.si-content {
    flex: 1;
    padding-right: 2rem;
    padding-top: 1rem;
}

.si-title {
    font-family: Pretendard;
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    margin-bottom: 1rem;
}

.si-description {
    font-size: 14px;
    line-height: 1.6;
    text-align: left;
    color: gray;
}

.si-image {
    flex: 0 0 500px;
    max-width: 100%;
}

    .si-image img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
    }

/*메뉴바*/
.si-menu-bar {
    background-color: #8E99AD;
    height: 47px;
}

    .si-menu-bar nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        max-width: 1300px;
        margin: 0 auto;
    }

        .si-menu-bar nav ul li {
            margin: 0 15px;
        }

            .si-menu-bar nav ul li button {
                color: #ccc;
                text-decoration: none;
                padding: 12px ;
                transition: color 0.3s ease;
                cursor: pointer;
                background: none;
                border: none;
                font-size: inherit;
            }

                .si-menu-bar nav ul li button:hover,
                .si-menu-bar nav ul li button.active {
                    color: white;
                }

                .si-menu-bar nav ul li button.active {
                    border-bottom: 2px solid white;
                }
/*Ceo 인사*/
.ceo-areas {
    background-color: #F3F5F7;
    padding: 30px 20px;
}

.ceo-message-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    max-width: 1300px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.ceo-message-content {
    flex: 1;
    padding-right: 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 300px;
}

    .ceo-message-content h3 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        color: #333;
    }

    .ceo-message-content p {
        margin-bottom: 1rem;
        line-height: 1.6;
        font-size: 13px;
        color: #555555;
    }

.ceo-signature {
    margin-top: 20px;
}

.ceo-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 0.5em;
}

.ceo-image-container {
    flex: 0 0 40%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 30px;
    margin-bottom:-30px;
}

.ceo-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}


@media (max-width: 768px) {
    .ceo-message-container {
        flex-direction: column;
    }

    .ceo-message-content {
        padding-right: 0;
        margin-bottom: 1rem;
        order: 2;
    }

    .ceo-image-container {
        flex: 0 0 100%;
        max-width: 100%;
        order: 1;
        margin-bottom: 1rem;
    }
}

/*사업분야*/

.business-areas {
    background-color: #F3F5F7;
    padding: 40px 0 0;
}

    .business-areas .section-title {
        font-size: 24px;
        font-weight: bold;
        text-align: left;
        max-width: 1300px;
        margin: 0 auto 30px;
        padding: 0 20px;
        box-sizing: border-box;
    }

.areas-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
}

.area-item {
    width: calc(33.333% - 20px);
    margin-bottom: 40px;
    min-width: 250px;
}

.area-image {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    overflow: hidden;
}

    .area-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

@media (max-width: 768px) {
    .area-item {
        width: 100%;
    }
}
/* 사업분야 하단 */
.white-section {
    background-color: white;
    padding: 40px 0;
}

.section-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 60px;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

.section-image {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    overflow: hidden;
}

    .section-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.box-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rounded-box {
    width: calc(25% - 20px);
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #D9DDDF;
    border-radius: 10px;
    box-sizing: border-box;
}

    .rounded-box p {
        margin: 0;
        font-size: 14px;
        line-height: 1.4;
    }

@media (max-width: 768px) {
    .rounded-box {
        width: calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .rounded-box {
        width: 100%;
    }
}
/* 회사연혁  */
.company-history {
    padding: 40px 0 0;
    background-color: #F3F5F7;
}

    .company-history .section-title {
        font-size: 24px;
        font-weight: bold;
        text-align: left;
        margin: 30px;
        max-width: 1300px;
        margin: 0 auto 30px;
        padding: 0 20px;
        box-sizing: border-box;
    } 

.history-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.history-image {
    width: 298px;
    height: 416px;
    object-fit: cover; 
    display: block;
}


@media (max-width: 768px) {
    .company-history {
        padding: 30px 0 0;
    }

        .company-history .section-title {
            font-size: 20px;
            margin-bottom: 20px;
        }

    .history-image {
        width: 100%;
        height: auto;
        max-width: 298px;
        max-height: 416px;
    }
}

/* 조직도  */
.organization-chart {
padding: 40px 0 0;
background-color: #F3F5F7;
}

    .organization-chart .section-title {
        font-size: 24px;
        font-weight: bold;
        text-align: left;

        max-width: 1300px;
        margin: 0 auto 30px;
        padding: 0 20px;
        box-sizing: border-box;
    }

.organization-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.organization-image {
    width: 644px;
    height: 617px;
    object-fit: cover;
    display: block;
    margin-bottom: 100px
}


@media (max-width: 768px) {
    .organization-chart {
        padding: 30px 0 0;
    }

        .organization-chart .section-title {
            font-size: 20px;
            margin-bottom: 20px;
        }

    .organization-image {
        width: 100%;
        height: auto;
        max-width: 298px;
        max-height: 416px;
    }
}

/* 오시는 길*/
.location {
    padding: 40px 0;
    background-color: white;
}

    .location .section-title {
        font-size: 24px;
        font-weight: bold;
        text-align: left;

        max-width: 1300px;
        margin: 0 auto 30px;
        padding: 0 20px;
        box-sizing: border-box;
    }

.location-item {
    margin-bottom: 30px;
}

.map-container {
    width: 100%;
    max-width: 1194px;
    margin: 0 auto 30px;
    overflow: hidden;
}

    .map-container iframe {
        width: 100%;
        height: 320px;
        border: 0;
    }

.address-container {
    max-width: 1194px;
    margin: 0 auto;
    text-align: left;
    padding: 20px 0;
}

    .address-container h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .address-container p {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .address-container .label {
        color: #318EC9;
        font-weight: bold;
        margin-right: 10px;
    }

.location-separator {
    max-width: 1194px;
    margin: 0 auto 30px;
    border-bottom: 1px solid #D9DDDF;
}

@media (max-width: 1200px) {
    .map-container,
    .address-container,
    .location-separator {
        padding: 0 20px;
    }
}

@media (max-width: 768px) {
    .location .section-title {
        font-size: 20px;
    }

    .map-container iframe {
        height: 250px;
    }

    .address-container p {
        font-size: 14px;
    }
}