@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.si-container {
    display: flex;
    justify-content: space-between;
    padding: 0rem;
    max-width: 1200px;
    margin: 0 auto;
}

.si-content {
    flex: 1;
    padding-right: 0rem;
    padding-top : 1rem;
}

.si-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.si-description {
    font-size: 0.5rem;
    line-height: 1.6;
    text-align: left;
    color: gray;
}

.si-image {
    flex: 0 0 500px;
}

    .si-image img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

/*메뉴바*/
.si-menu-bar {
    background-color: #8E99AD;
    height: 44.5px;
}

    .si-menu-bar nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: left;
    }

        .si-menu-bar nav ul li {
            margin: 0 15px;
        }

            .si-menu-bar nav ul li button {
                color: #ccc;
                text-decoration: none;
                padding: 12px 0;
                transition: color 0.3s ease;
                cursor: pointer;
                background: none;
                border: none;
                font-size: inherit;
                
            }

                .si-menu-bar nav ul li button:hover,
                .si-menu-bar nav ul li button.active {
                    color: white;
                }

                .si-menu-bar nav ul li button.active {
                    border-bottom: 2px solid white;
                }
/*서브 카테고리*/
.subcategories {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
    position: relative;
}

    .subcategories::before,
    .subcategories::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #ccc;
    }

    .subcategories::before {
        top: 0;
    }

    .subcategories::after {
        bottom: 0;
    }

.subcategory-btn {
    background: none;
    border: none;
    color: #888;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

    .subcategory-btn::after {
        content: '';
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 1.8px;
        height: 2px;
        background-color: #318EC9;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    .subcategory-btn:hover,
    .subcategory-btn.active {
        color: #318EC9;
    }

        .subcategory-btn:hover::after,
        .subcategory-btn.active::after {
            transform: scaleX(1);
        }

/*컨텐츠*/
.si-content-section {
    margin-top: 2rem;
    padding: 20px ;
}

.si-subcategory-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 20px 0;
}

.si-product-item {
    display: flex;
    margin-bottom: 2rem;
}

.si-product-image {
    flex: 0 0 400px;
    margin-right: 1rem;
}

    .si-product-image img {
        width: 100%;
        height: auto;
    }

.si-product-details {
    flex: 1;
}

.si-product-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.si-product-content {
    margin-bottom: 0.5rem;
}

/*디테일 더보기*/

.si-detail-container {
    flex-direction: column;
    align-items: flex-start;
}

.si-product-title {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

.si-product-content-wrapper {
    display: flex;
    width: 100%;
    gap: 2rem;
}

.si-product-image {
    flex: 0 0 500px;
    margin-bottom: 3rem;
}

.si-product-content {
    flex: 1;
}

@media (max-width: 768px) {
    .si-product-content-wrapper {
        flex-direction: column;
    }

    .si-product-image {
        flex: 0 0 auto;
        width: 100%;
    }
}




.si-more-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color: #318EC9;
    text-decoration: none;
    border: 2px solid #318EC9;
    border-radius: 25px;
    transition: all 0.3s;
    font-weight: bold;
    margin-top: 25px;
}
    .si-more-button:hover {
        background-color: #318EC9;
        color: white;
    }

    .si-more-button .arrow {
        margin-left: 8px;
        font-size: 1.1em;
        transition: transform 0.3s;
    }

    .si-more-button .arrow {
        transform: translateX(3px);
    }

.si-product-divider {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin-bottom: 40px;
    padding: 20px 0;
    max-width: 1200px;
}

/*디테일 페이지*/
.si-divider {
    border: 0;
    height: 1px;
    background: #e0e0e0;

    width: 100%;
}
/*제원표*/
.com-spec-section {
    background: #F3F5F7; 
    ;
    padding: 30px;
    margin-top: 20px;
}

.com-spec-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #333;
}
.com-spec-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.com-spec-image img {
    max-width: 100%;
    height: auto;
}
/* pdf 다운로드 */
.white-section {
    background-color: white;
    padding: 30px;
}

.rectangle-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom :60px;
}

.rectangle {
    border: 1px solid #e0e0e0;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.file-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.file-name {
    flex-grow: 1;
    font-size: 14px;
}

.download-btn {
    background: #318EC9;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

    .download-btn:hover {
        background-color: #0056b3;
    }

@media (max-width: 768px) {
    .si-container {
        flex-direction: column;
    }

    .si-content {
        padding-right: 0;
        margin-bottom: 2rem;
    }

    .si-image {
        flex: 0 0 auto;
    }
}