@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.si-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.si-content {
    flex: 1;
    padding-right: 2rem;
    padding-top: 1rem;
}
.si-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.si-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: #999999;
}

.si-image {
    flex: 0 0 40%;
    max-width: 500px;
}

    .si-image img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
    }

/*메뉴바*/
.si-menu-bar {
    background-color: #8E99AD;
    height: 44.5px;
    
}

    .si-menu-bar nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        max-width: 1300px;
        margin: 0 auto;
    }

        .si-menu-bar nav ul li {
            margin: 0 15px;
        }

            .si-menu-bar nav ul li button {
                color: #ccc;
                text-decoration: none;
                padding: 12px 0;
                transition: color 0.3s ease;
                cursor: pointer;
                background: none;
                border: none;
                font-size: inherit;
                
            }

                .si-menu-bar nav ul li button:hover,
                .si-menu-bar nav ul li button.active {
                    color: white;
                }

                .si-menu-bar nav ul li button.active {
                    border-bottom: 2px solid white;
                }
/*서브 카테고리*/
.subcategories {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
}
.subcategories-container {
    display: flex;
    justify-content: flex-start; 
    flex-wrap: wrap;
    max-width: 1300px; 
    width: 100%;
    margin: 0 auto; /* 중앙 정렬 */
   
    box-sizing: border-box;
    position: relative;
}
    .subcategories::before,
    .subcategories::after {
        content: '';
        position: absolute;
        left: 0; 
        right: 0;
        height: 1px;
        background-color: #ccc;
    }

    .subcategories::before {
        top: 0;
    }

    .subcategories::after {
        bottom: 0;
    }

.subcategory-btn {
    background: none;
    border: none;
    color: #888;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px;
    
}

    .subcategory-btn::after {
        content: '';
        position: absolute;
        left: 15px; 
        right: 20px;
        bottom: 1.8px;
        height: 2px;
        background-color: #318EC9;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    .subcategory-btn:hover,
    .subcategory-btn.active {
        color: #318EC9;
    }

        .subcategory-btn:hover::after,
        .subcategory-btn.active::after {
            transform: scaleX(1);
        }
@media (max-width: 768px) {
    .subcategories {
        justify-content: flex-start;
        padding: 0 15px;
    }

    .subcategory-btn {
        padding: 10px 10px; 
        font-size: 14px;
        max-width: none; 
        flex: 1 0 auto;
    }
}

/*컨텐츠*/
.si-content-section {
    max-width: 1300px;
    margin: 2rem auto 0;
    padding: 0 20px;
}

.si-subcategory-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 20px 0;
}

.si-product-item {
    display: flex;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.si-product-image {
    flex: 0 0 40%;
    max-width: 400px;
    margin-right: 1rem;
}

    .si-product-image img {
        width: 100%;
        height: auto;
        
    }

.si-product-details {
    flex: 1;
    min-width: 300px;
}

.si-product-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.si-product-content {
    margin-bottom: 0.5rem;
}

/*디테일 더보기*/

.si-detail-container {
    flex-direction: column;
    align-items: flex-start;
}

.si-product-title {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

.si-product-content-wrapper {
    display: flex;
    width: 100%;
    gap: 2rem;
}

.si-product-image {
    flex: 0 0 500px;
    margin-bottom: 3rem;
}

.si-product-content {
    flex: 1;
}

@media (max-width: 768px) {
    .si-product-content-wrapper {
        flex-direction: column;
    }

    .si-product-image {
        flex: 0 0 auto;
        width: 100%;
    }
}




.si-more-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color: #318EC9;
    text-decoration: none;
    border: 2px solid #318EC9;
    border-radius: 25px;
    transition: all 0.3s;
    font-weight: bold;
    margin-top: 25px;
}
    .si-more-button:hover {
        background-color: #318EC9;
        color: white;
    }

    .si-more-button .arrow {
        margin-left: 8px;
        font-size: 1.1em;
        transition: transform 0.3s;
    }

    .si-more-button .arrow {
        transform: translateX(3px);
    }

.si-product-divider {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 40px 0;
    width: 100%;
}

/*디테일 페이지*/
.si-divider {
    border: 0;
    height: 1px;
    background: #e0e0e0;

    width: 100%;
}
/*제원표*/
.com-spec-section, .white-section {
    max-width: 1300px;
    margin: 20px auto 0;
    padding: 30px 20px;
    box-sizing: border-box;
}
.com-spec-section {
    background: #F3F5F7;
}
.com-spec-title, .white-section h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #333;
    padding: 0 20px;
}
.com-spec-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.com-spec-image img {
    max-width: 100%;
    height: auto;
}
/* pdf 다운로드 */

.rectangle-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom :60px;
}
.white-section {
    background-color: white;
}
.rectangle {
    border: 1px solid ;



border-color: #D9DDDF;


    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.file-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.file-name {
    flex-grow: 1;
    font-size: 14px;
}

.download-btn {
    background: #318EC9;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

    .download-btn:hover {
        background-color: #0056b3;
    }

@media (max-width: 768px) {
    .si-container {
        flex-direction: column;
    }

    .si-content {
        padding-right: 0;
        margin-bottom: 2rem;
    }

    .si-image {
        flex: 0 0 auto;
        max-width: 100%;
        display: none;
    }

    .si-product-item {
        flex-direction: column;
    }

    .si-product-image {
        flex: 0 0 auto;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .si-product-details {
        flex: 1;
    }
    /*모바일 제원표 이미지*/
    .com-spec-section {
        padding: 20px; 
        overflow-x: auto; 
        -webkit-overflow-scrolling: touch; 
    }

    .com-spec-image {
        padding: 0; 
        justify-content: flex-start; 
    }

        .com-spec-image img {
            max-width: none; 
            width: auto; 
            height: auto; 
        }

    /*모바일 디테일 페이지의 다운로드*/

    .rectangle-grid {
        grid-template-columns: 1fr; 
        gap: 15px; 

    }

    .rectangle {
        height: 100px; 
        padding: 10px; 
        border: 2px solid;
        border-color: #D9DDDF;
    }

    .file-name {
        font-size: 20px; 
    }

    .download-btn {

        padding: 12px 16px; 
        font-size: 15px;
    }
}