@page "/about"
@using Microsoft.AspNetCore.Components.Web
<PageTitle>DEVLINK About</PageTitle>

<HeadContent>
    <link href="css/pages/about.css" rel="stylesheet" />
</HeadContent>
<h1>DEVLINK 소개</h1>

<section class="company-history">
    <h2>우리의 역사</h2>
    <p>
        DEVLINK는 2023년에 설립되어 머신비전과 딥러닝 기술을 제공하고 있습니다. 
        지난 1년 동안, 우리는 [주요 성과나 성장 내용]을 이루어냈습니다.
    </p>
</section>

<section class="mission-vision">
    <h2>미션 & 비전</h2>
    <div class="mission">
        <h3>미션</h3>
        <ul>
        <li>제조업 혁신 주도</li>
        </ul>
    </div>
    <div class="vision">
        <h3>비전</h3>
        <ul>
            <li>지속적 연구개발</li>
            <li>기술 융합</li>
            <li>검사 솔루션 리더</li>
        </ul>
    </div>
</section>

<section class="core-values">
    <h2>핵심 가치</h2>
    <ul>
        <li>신뢰, 정확성</li>
        <li>혁신</li>
        <li>파트너십</li>
        <!-- 필요에 따라 추가 -->
    </ul>
</section>

<section class="team">
    <h2>경영진 소개</h2>
    <div class="team-member">
        <h3>전명근, CEO</h3>
        <p>[간단한 소개]</p>

    </div>  <div class="team-member">
            <h3>권승용, PRO</h3>
        <p>[간단한 소개]</p>    </div>
    <!-- 필요에 따라 추가 팀원 정보 -->
</section>

@code {
    // 필요한 경우 여기에 C# 코드를 추가할 수 있습니다.
}

