@page "/about"
@using Microsoft.AspNetCore.Components.Web
@inject NavigationManager NavigationManager
@using WEBB.Components
@using WEBB.Data
@using WEBB.Models
@inject ProductService ProductService
<HeadContent>
    <link href="css/pages/about.css" rel="stylesheet" />
</HeadContent>
<PageTitle>HANSolution About</PageTitle>
<div class="si-container">
    <div class="si-content">
        <h1 class="si-title">About</h1>
        <p class="si-description">
            비젼 시스템& 컴포넌트 전문 기업, (주)한솔루션
        </p>
    </div>
    <div class="si-image">
        <img src="/images/about-top.png" alt="System Integration" />
    </div>
</div>

<div class="si-menu-bar">
    <nav>
        <ul>
            @foreach (var menu in MenuItems)
            {
                    <li>
                        <button class="@(ActiveMenu == menu ? "active" : "")" @onclick="() => SetActiveMenu(menu)">
                        @menu
                        </button>
                    </li>
            }
        </ul>
    </nav>
</div>

<div class="si-content-section">
    
  
    @if (ActiveMenu == "CEO 인사말")
    {
             <div class="ceo-areas">
        <div class="ceo-message-container"> 
            <div class="ceo-message-content"> 
                <h3>CEO 인사말</h3> 
                    <p>한솔루션은 고객의 고민을 최우선으로 생각하는 동반자 정신으로 저희의 진심어린 마음을 <br /> 담은 솔루션을 제공하고 있습니다.</p> 
                    <p>상대방을 이기는것이 능사가 아닙니다. <br />상대방이 하는일을 소리 소문 없이 도와 그가 성공하고 그의 도움을 받아 나도 함께 성공하는 것이 행복입니다.</p> 
                    <p>앞서가는 사람을 붙잡거나 따라잡는 경쟁이 아니라 서로 도와 각자 자기 분야에서<br /> 앞서갈 수 있도록 협력하는 것이 진정 아름다운 21세기형 경쟁입니다.</p> 
            <p class="ceo-signature">
                아이유뉴스 / 월간센서기술<br>
                (주)한솔루션 <span class="ceo-title">대표이사</span>
            </p>
                </div> 
                <div class="ceo-image-container"> 
                    <img src="/images/ceo.png" alt="CEO" class="ceo-image" /> 
                </div> 
                </div></div>
    }

    else if (ActiveMenu == "사업분야")
    {
        <div class="business-areas">
                     <h2 class="section-title">사업분야</h2>
            
            <div class="areas-container">
                <div class="area-item">
                    <div class="area-image">
                            <img src="/images/business1.png" alt="자동차장비 사업부" />
                    </div>
                        <h3 class="area-title">자동차장비 사업부</h3>
                    <div class="area-divider"></div>
                    <div class="area-content">
                            <ul class="no-bullets">
                                <li>장비 컨셉 기획 및 설계</li>
                                <li>장비 통신 및 제어</li>
                                <li>장비 제조 및 CS</li>
                        </ul>
                    </div>
                </div>
                <div class="area-item">
                    <div class="area-image">
                                <img src="/images/business2.png" alt="머신비젼 사업부" />
                    </div>
                        <h3 class="area-title">머신비젼 사업부</h3>
                    <div class="area-divider"></div>
                    <div class="area-content">
                            <ul class="no-bullets">
                                <li>머신비젼 소프트웨어개발</li>
                                <li>스마트 팩토리 네트워크 구축</li>
                                <li>Telecentric Lens 설계 개발</li>
                                    <li>광학 조명 및 제어기 개발</li>
                        </ul>
                    </div>
                </div>
                <div class="area-item">
                    <div class="area-image">
                                <img src="/images/business3.png" alt="자동차부품 유통사업부" />
                    </div>
                        <h3 class="area-title">자동차부품 유통사업부</h3>
                    <div class="area-divider"></div>
                    <div class="area-content">
                            <ul class="no-bullets">
                                <li>자동차 관련 부품 수입 및 판매</li>
                                <li>포토/레이져/근접센서 판매</li>
                                <li>화이버센서 국내 OEM 제조 판매</li>
                                        <li>머신비젼관련-카메라,렌즈,케이블</li>
                                            <li>머신비젼용 조명 및 렌즈 제조 판매</li>
                                                <li>산업용 PC 제조 판매</li>
                                                    <li>직교로봇 및 스테이지 판매</li>
                                                        <li>모션 관련 컴포넌트 판매</li>
                                                            <li>세이프티 관련 컴포넌트 판매</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

            <div class="white-section">
            <div class="section-container">
                    <h2 class="section-title">반도체 및 전자산업</h2>
                <div class="section-image">
                            <img src="/images/business4.png" alt="반도체 및 전자산업" />
                </div>
                <div class="box-container">
                        <div class="rounded-box"><p>자동 시각 검사(AOI)솔루션</p></div>
                        <div class="rounded-box"><p>납땜 검사</p></div>
                        <div class="rounded-box"><p>인쇄 및 텍스트 품질 검사</p></div>
                        <div class="rounded-box"><p>제품 추적</p></div>
                                <div class="rounded-box"><p>기준검색</p></div>
                                        <div class="rounded-box"><p>PCB 검사</p>
                                                </div><div class="rounded-box"><p>특성 존재 확인</p></div>
                                            <div class="rounded-box"><p>바코드 및 Data Matrix 코드 판독</p></div>
                                                <div class="rounded-box"><p>표면 실장 배치 및 정렬</p></div>
                                                    <div class="rounded-box"><p>보호 코팅 및 색상 검사</p></div>
                                                        <div class="rounded-box"><p>부품 코드 확인</p></div>
                                                            <div class="rounded-box"><p>부품확인 - 손실이나 부정확, 반전</p></div>
                                                                <div class="rounded-box"><p>제품 결함 검사</p></div>
                                                                    

                </div>
            </div>

            <div class="section-container">
                    <h2 class="section-title">반도체 및 전자산업</h2>
                <div class="section-image">
                            <img src="/images/business5.png" alt="반도체 및 전자산업" />
                </div>
                <div class="box-container">
                        <div class="rounded-box"><p>부품의 존재 확인</p></div>
                        <div class="rounded-box"><p>부품 코드 확인</p></div>
                        <div class="rounded-box"><p>표면 검사</p></div>
                        <div class="rounded-box"><p>오류 방지 부품조립</p></div>
                                <div class="rounded-box"><p>하위 부품 확인</p></div>
                                    <div class="rounded-box"><p>문자와 패턴 인식</p></div>
                                        <div class="rounded-box"><p>색상 분석</p></div>
                                            <div class="rounded-box"><p>인쇄 및 텍스트 검사</p></div>
                                                <div class="rounded-box"><p>자동차 부품 측정</p></div>
                                                    <div class="rounded-box"><p>로봇 가이던스</p></div>
                                                        <div class="rounded-box"><p>제품 추적</p></div>
                                                            <div class="rounded-box"><p>단락 및 불꽃 탐지</p></div>
                                                                <div class="rounded-box"><p>비드 및 씰 확인</p></div>
                                                                    <div class="rounded-box"><p>종류 확인</p></div>
                                                                        <div class="rounded-box"><p>제품 결함 탐지</p></div>
                                                                            <div class="rounded-box"><p>바코드 및 Data Matrix 코드 판독</p></div>

                </div>
            </div>

            <div class="section-container">
                    <h2 class="section-title">인쇄, 포장, 식품 관련산업</h2>
                <div class="section-image">
                            <img src="/images/business6.png" alt="인쇄, 포장, 식품 관련산업" />
                </div>
                <div class="box-container">
                        <div class="rounded-box"><p>날짜, 제품 번호 및 부품 번호 확인 </p></div>
                        <div class="rounded-box"><p>손상된 상자 검사</p></div>
                        <div class="rounded-box"><p>식품 검사</p></div>
                        <div class="rounded-box"><p>크기 및 특성 검사</p></div>
                                <div class="rounded-box"><p>인쇄 품질 검사</p></div>
                                    <div class="rounded-box"><p>포장 측정 및 확인</p></div>
                                        <div class="rounded-box"><p>식표면 오염 검사</p></div>
                                            <div class="rounded-box"><p>병 충전 수위</p></div>
                                                <div class="rounded-box"><p>색상 검사 및 처리</p></div>
                                                   

                </div>
            </div>
        </div>
                    <div class="section-container">
                        <h2 class="section-title">제약, 의료, 관련산업</h2>
                <div class="section-image">
                            <img src="/images/business7.png" alt="인쇄, 포장, 식품 관련산업" />
                </div>
                <div class="box-container">
                            <div class="rounded-box"><p>의료 기기 크기 검사</p></div>
                            <div class="rounded-box"><p>OCV (시각적 문자 확인)</p></div>
                            <div class="rounded-box"><p>제품 추적성</p></div>
                                <div class="rounded-box"><p>제품 결함 탐지</p></div>
                                <div class="rounded-box"><p>상표 설치 확인 및 정렬 검사</p></div>
                            <div class="rounded-box"><p>부품 코드 확인</p></div>
                            <div class="rounded-box"><p>바코드 및 Data Matrix 코드 판독</p></div>
                            <div class="rounded-box"><p>배치, 품목, 날짜 코드 판독 및 확인</p></div>
                                <div class="rounded-box"><p>인쇄 및 텍스트 품질 검사</p></div>
                            <div class="rounded-box"><p>표면 오염 검사</p></div>
                            <div class="rounded-box"><p>OCR (시각적 문자 인식)</p></div>
                            <div class="rounded-box"><p>특성 존재 확인</p></div>
                                <div class="rounded-box"><p>색상 확인</p></div>
                           
                </div>
            </div>
        

    }

    else if (ActiveMenu == "회사연혁")

    {

        <div class="company-history">
            <h2 class="section-title">회사 연혁</h2>
                                  <div class="timeline">
                <div class="timeline-item" style="top: 0%;">
                    <div class="timeline-year">2014</div>
                    <div class="timeline-content">
                        <span class="timeline-month">01월</span> 개인 한솔루션 설립
                    </div>
                </div>
                <div class="timeline-item" style="top: 25%;">
                    <div class="timeline-year">2016</div>
                    <div class="timeline-content">
                        <span class="timeline-month">01월</span> 법인 (주)한솔루션 설립
                    </div>
                </div>
                <div class="timeline-item" style="top: 50%;">
                    <div class="timeline-year">2017</div>
                    <div class="timeline-content">
                        <span class="timeline-month">06월</span> 인천 유통상가로 이전
                    </div>
                </div>
                <div class="timeline-item" style="top: 75%;">
                    <div class="timeline-year">2019</div>
                    <div class="timeline-content">
                        <span class="timeline-month">08월</span> 공장, 연구소 등록
                    </div>
                </div>
            </div>
    </div>
 
    }

    else if (ActiveMenu == "조직도")
    {
        <div class="organization-chart">
            <h2 class="section-title">조직도</h2>
            <div class="chart-container">
                <div class="outer-circle"></div>
                <div class="center-background"></div>
                <div class="center">
                            <div class="center-image">
                    <img src="/images/center-logo.png" alt="center-logo" />
        </div>
                        <h2>CEO</h2>

                </div>
                @foreach (var circle in smallCircles)
                {
                        <div class="small-circle" style="@circle.Style">
                        @((MarkupString)circle.Content)
                        </div>
                }
            </div>
        </div>
    }
    else if (ActiveMenu == "오시는 길")
    {
        <div class="location">
            <h2 class="section-title">오시는 길</h2>
            <div class="location-item">
                <div class="map-container">
                    <iframe 
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3166.4182424899573!2d126.67495997424662!3d37.474455529405496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b794c273db0f9%3A0xdb2f8157b3c91f4d!2z7KO87JWI7KCc7J207YOA7JuMMuywqA!5e0!3m2!1sko!2skr!4v1727335832689!5m2!1sko!2skr" 
                        width="100%" 
                        height="320" 
                        style="border:0;" 
                        allowfullscreen="" 
                        loading="lazy" 
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
                <div class="address-container">
                    <h3>본사</h3>
                    <p>
                        <span class="label">addr.</span>
                        인천시 미추홀구 방축로 312(주안동) 주안제이타워2차1002호 (주)한솔루션
                    </p>
                    <p>
                        <span class="label">Tel.</span>
                        032-623-7054
                    </p>
                </div>
            </div>
            <div class="location-separator"></div>
            <div class="location-item">
                <div class="map-container">
                    <iframe 
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3182.796741547428!2d127.08196137422219!3d37.08614765153129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b3858f3b9c2b9%3A0x1314b141d1870aef!2z6rK96riw64-EIO2Pie2DneyLnCDsp4TsnITrqbQg66eI7IKwMeq4uCA5LTU!5e0!3m2!1sko!2skr!4v1727335928445!5m2!1sko!2skr" 
                        width="100%" 
                        height="320" 
                        style="border:0;" 
                        allowfullscreen="" 
                        loading="lazy" 
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
                <div class="address-container">
                    <h3>평택공장</h3>
                    <p>
                        <span class="label">addr.</span>
                        경기도 평택시 진위면 마산1길 9-5
                    </p>
                    <p>
                        <span class="label">Tel.</span>
                        032-623-7054
                    </p>
                </div>
            </div>
        </div>
    }

</div>



@code {
    private string ActiveMenu { get; set; } = "CEO 인사말";
    private List<string> MenuItems { get; set; } = new List<string> { "CEO 인사말", "사업분야", "회사연혁", "조직도", "오시는 길" };


   

    private void SetActiveMenu(string menu)
    {
        ActiveMenu = menu;
        
    }
    private List<(string Content, string Style)> smallCircles = new List<(string, string)>
    {
        ("<div>경영<br>지원부</div>", "top: 6%; left: 50%; transform: translate(-50%, -50%);"),
        ("영업부", "top: 38%; right:-6%; transform: translate(0, -50%);"),
        ("<div>CS<br>엔지니어부</div>", "bottom: 12%; right: 23%; transform: translate(50%, 50%);"),
        ("소프트웨어부", "bottom: 12%; left: 23%; transform: translate(-50%, 50%);"),
        ("계획설계부", "top: 38%; left: -6%; transform: translate(0, -50%);")
    };

}